* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  font-weight: 400;
}

nav {
  padding: 5px 1%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: rgba(250, 250, 250, 0.8);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(80, 80, 80);
}

menu > ul,
li {
  display: inline;
  margin: 10px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/img/office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 60vh;
}

.intro {
  text-align: center;
  padding: 50px 100px;
  background-color: rgb(6, 49, 78);
  color: white;
}
.title {
  text-align: center;
  margin: 50px 0px;
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 20px 40px;
  width: 300px;
  height: 300px;
  background-color: rgb(6, 49, 78);
}

.service > * {
  padding: 10px 0px;
}

.img {
  height: 200px;
  width: 200px;
  background-color: grey;
}

/* FOOTER */

footer {
  margin-top: 50px;
  border-top: solid 10px rgb(6, 49, 78);
  background-color: lightgrey;
  text-align: right;
  color: rgb(6, 49, 78);
  font-weight: 600;
  padding: 30px;
}

/* ABOUT */

.hero h1 {
  text-align: center;
  width: 75%;
  padding: 50px;
  background-color: rgba(250, 250, 250, 0.8);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 80%;
  display: flex;
  align-items: center;
  height: 100%;
}

.copy {
  padding: 20px;
}
.copy h2 {
  margin-bottom: 20px;
}

.left {
  background-color: aquamarine;
}

.right {
  background-color: rgb(6, 49, 78);
  color: white;
}

/* LOGIN */

form {
  margin: 50px auto 50px auto;
  width: 30rem;
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
  padding: 10px;
}
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin-top: 5px;
}
label {
  margin-top: 20px;
  font-size: 1.1rem;
}

/* MOBILE */

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
    text-align: center;
  }
  .left img {
    order: -1;
  }
}
